<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhcode.litemall.db.dao.StatMapper">
    <select id="statUser" resultType="java.util.Map">
        select
        substr(add_time,1,10) as day,
        count(distinct id) as users
        from litemall_user
        group by substr(add_time,1,10)
    </select>
    <select id="statOrder" resultType="java.util.Map">
        select
        substr(o.add_time,1,10) as day,
        count(o.id) as orders,
        count(distinct o.user_id) as customers,
        sum(o.actual_price) as amount
        from litemall_order as o ,litemall_user as u
        where order_status in(401) and o.user_id = u.id <if test="parentId != -1">and u.parent_id = #{parentId}</if>
        group by substr(o.add_time,1,10)
    </select>
    <select id="statGoods" resultType="java.util.Map">
        select
        substr(g.add_time,1, 10) as day,
        count(distinct g.order_id) as orders,
        sum(g.number) as products,
        sum(g.number*g.price) as amount
        from litemall_order_goods as g,litemall_user as u , litemall_order as o
        where g.order_id = o.id and o.user_id = u.id  and o.order_status = 401 <if test="parentId != -1">and u.parent_id = #{parentId}</if>
        group by substr(g.add_time,1, 10)
    </select>
</mapper>